@font-face {
  font-family: centrale-bold;
  src: url(../fonts/Centrale-Sans-Bold.otf); }

@font-face {
  font-family: centrale-light;
  src: url(../fonts/Centrale-Sans-Light.otf); }

@font-face {
  font-family: centrale-medium;
  src: url(../fonts/Centrale-Sans-Medium.otf); }

@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(20deg);
  }
}


  @keyframes color-change {
  0%{
    color: #ff6b6b;
  }
  100% {
    color:#f4f4f4;
  }
}

@keyframes color-change2 {
  0%{
    color: #f4f4f4;
  }
  100% {
    color:#ff6b6b;
  }
}

  @keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sign-style {
  font-family: centrale-light;
  font-size: 13px;
  color: #696969;
  text-decoration: none;
}
html {
  height: 100vh;
}
body {
  background-color: #1f1e1e; 
  height: 100vh;
}

  
.menu-y-seccion .nav-red {
 background-color: #181818;
}


.menu-y-seccion {
  display: flex;
}

* {
  margin: 0px; }

.logo {
  margin: 10px;
  transform: rotate(20deg); }

.logo__Grande {
  width: 600px;
  padding-top: 130px;
  padding-left: 80px;
  transform: rotate(20deg);
  animation-name: aparecer;
  animation-duration: 5s;
  transition: all 1s;}
.logo__Grande:hover{
  width: 700px;
  transform: rotate(70deg);
}

.imagenAbout {
  width: 700px;
  padding-top: 20px;
  transform: rotate(20deg);
  animation-name: aparecer;
  animation-duration: 5s;
  transition: all 1s;}
.imagenAbout:hover{
  transform: rotate(100deg);
  width: 700px;
}

.titulo {
  padding-left: 30%;
}

.titulo__presentacion {
  font-family: centrale-bold;
  font-size: 40px;
  color: #f4f4f4;
  padding-top: 150px;
  animation-name: aparecer;
  animation-duration: 5s; 
  width: 300%;
}


  h1 {
    font-family: centrale-bold;
    font-size: 40px;
    color: #f4f4f4;
    margin: 100px 15px 20px 0px;
    padding-left: 0px;
    animation-duration: 2s;
}
h1:hover{
  animation-name: color-change2;
  transition: all 0.3s;
}

h2 {
  font-family: centrale-light;
  font-size: 15px;
  color: #f4f4f4;
  line-height: 1.5;
  margin: 0px 15px 20px 0px;
  padding-left: 0px;
  animation-name: aparecer;
  animation-duration: 5s; }

h3 {
  font-family: centrale-light;
  font-size: 15px;
  color: #f4f4f4;
  line-height: 1.5;
  margin: 0px 15px 20px 0px;
  padding-left: 0px;
  animation-name: aparecer;
  animation-duration: 5s; }

.header__logo {
  margin: 5px;
  transform: rotate(20deg); }
  .button{
    padding:8px 0px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:0px 0px 0px 0px;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: #FF6B6B;
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#FF6B6B;
    color:white;
  }

/* Send Button Styles */

  .btn{
    width:150px;
    height: auto;
    padding:15px;
    color:#2C2C2C;
    background:#FF6B6B;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    animation-name: aparecer;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .btn:hover{
    background:#ffcfcf;
    color: #FF6B6B;
    border:none;
  }

  .btn:active{
    opacity: 0.9;
  }

.nav__iconos {
  display: flex;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
  flex-direction: column;
  justify-content: center; }
  .nav__iconos li {
    list-style: none;
    text-decoration: none;
    margin: 0px; }

a {
  color: #ff6b6b;
  font-family: centrale-light;
  font-size: 14px;
} a:hover {
  color: #ffcfcf;
}


a.nav-link {   /* Centrar nav */
  text-align: center;
}

.instagram {
  padding-top: 80%;  /* MODIFICAR PARA QUE NO CAMBIE EL ALTO DE LA SECCIÓN*/
  text-align: center;
  flex-direction: column;
  justify-content: center; 
}

.form{
  padding-left: 0px;
  animation-name: aparecer;
  animation-duration: 5s; }


.imagenSkills{
  width: 700px;
  padding-top: 20px;
  animation-name: aparecer;
  animation-duration: 5s;
}

footer {
  padding-left: 20px; }

/*        WORKS */

.galery{
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));}

  .imagenWorkss {
    width: 100%;
  }

  /*       ABOUT        */

  
  .animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
    
  }

  .sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }
  
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }

.container-fluid {
  height: 100%;
  padding-left: 0px;
}

.logo-header {
  padding-top: 0px;
  padding-left: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.nav-item {
  padding-top: 50px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoarriba {
  padding-top: 0px;
  padding-left: 20px;
}

.bola-grande {
  padding-top: 800px;
  padding-left: 700px;
  transform: rotate(20deg);
  animation-name: aparecer;
  animation-duration: 5s;
  transition: all 1s;}
.bola-grande:hover{
  width: 700px;
  transform: rotate(70deg);
}
iframe {
  padding-left: 50%;
}
